<h3>Hello, <%=@user.first_name%>!</h3>
<p>This email is a notification that your password has been successfully changed. If, as the account owner, you have not made these changes, please contact us at "example@email.com".</p>